
.login{
    display: grid;
    place-items: center ;
    height: 100vh;
    background-color:  rgb(0, 195, 225);
}
*
{
	box-sizing:border-box;
}
.login__container{
    display: flex;
    flex-direction: column;
}
.login__container>img{
    object-fit: contain;
 
  width: 40%;
  float:left;
  margin: 0px 900px 300px 0px;
  height: 100px;;
}
.logo_avtar
{
	text-align:center;
	background:#ffffff;
	width: 50%;
  height: 25%;
	margin: 0px auto 50px auto;
	line-height:10px;
	border-radius:100%;
	
border:1px solid #000;

}
.logo_avtar img
{
	text-align: center;
  margin: 2px 20 12px 0;
	
	height: 100%;
}
.login-form{
   
	position:absolute;
	width:25%;
	height:75%;
	left:50%;
	top:50%;
	padding:20px;
	background:#fff;
	border-radius:50px;
	transform:translate(-50%,-50%);
	-webkit-box-shadow: 0px 0px 23px -15px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 23px -15px rgba(0,0,0,1);
box-shadow: 0px 0px 23px -15px rgba(0,0,0,1);
  

}
.text_field{ 
box-sizing: border-box; 
text-align: center;
width:100%;
height:35px;
border-radius:40px;
background-image: url("http://localhost:3000/avtaar1.jpg");
background-size: 30px 25px;
background-repeat: no-repeat;
background-position:2% 60% ;

 }
 .password_field{ 
    box-sizing: border-box; 
    text-align: center;
    border-radius:40px;
    width:100%;
    height:35px;
    background-image: url("http://localhost:3000/lock.png");
    background-size: 30px 20px;
    background-repeat: no-repeat;
    background-position:2% 60%;
 }

.login_field{ 
    box-sizing: border-box;
    text-align: center;
    border-radius:40px;
    width:100%;
    height:35px;
    background-color:white;
}

.register_field{ 
    box-sizing: border-box; 
    text-align: center;
    border-radius:40px;
    
    height:35px;
    margin-left:20px;
    background-color:white;

    width: auto;
    padding: 10px 18px;
 }


.login__button{
   width:100%;
	margin-top:5px;
	text-align: center;
	font-weight:300;
    font-family: 'Heebo', sans-serif;
}


.login__error{
    background-color:white;
    color:red;
    text-align:right;
    padding:2px;
}