.sendMail{
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: #404040;
    width: 550px;
    height: 400px;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);

}
.sendMail__header{
    padding: 13px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}
.sendMail__header>h3{
    color: whitesmoke;
    font-size: 13px;
}

.sendMail__options {
    display: block;
    width: 100%;
}

.sendMail__send {
    position: absolute;
    bottom: 0px;
}

.sendMail__send{
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}
.sendMail__close{
    cursor: pointer;
}
.sendMail > form > input {
    padding: 10px 5px 5px 5px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    font-size: 110%;
}

.sendMail__message{
    flex: 1;
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 140px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    font-weight: inherit;
    border: none;
    padding: 10px 5px 5px 5px;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}
.sendMail__error{
    background-color:white;
    color:red;
    text-align:right;
    padding:2px;
    font-size: 50%;
}

#sendMail__form input{
    width:100%;
}

.dropdown {
    background-color: white;
    border-bottom: whitesmoke;
    padding-top: 1px;
}